

.overlay {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 4;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.55);
  transition: width 0.5s ease-out;
  display: grid;
}

.overlay_active {
  width: 100%;
  
}


